<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>base template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </head>
  <body>
    <nav class = "navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class = "nav navbar-nav">
          <li>
            <a class = "navbar-band" href="{% url 'homepage' %}">BRAND</a>
          </li>
          <li>
            <a class = "navbar-link" href="{% url 'admin:index' %}">ADMIN</a>
          </li>
          <li>
            <a class = "navbar-link" href="{% url 'basicapp:other' %}">OTHER</a>
          </li>

        </ul>
      </div>
      <div class="container">

        {% block body_block %}
        <!--anything outside of this will be inherited if you extend!-->
        {% endblock %}

      </div>
    </nav>
  </body>
</html>
